/* Structure */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

main {
	padding: 1.5rem 0;
	flex: 1 0 auto
}

header, footer {
	flex-shrink: 0;
	background-color: #f5f5f5;
}

footer div {
	padding: 1rem 0;
}